{% extends 'main.html' %}

{% block content %}

    <div class="window-border">
        <div class="flex-column gap-md">
            <div class="flex-row gap-md">
                <div class="user-logo-big"></div>
                <div class="flex-column">
                    <div class="flex-row gap-sm align-items-center">
                        <div class="font-size-xl font-bold">{{user.first_name}} {{user.last_name}}</div>
                        <div style="background-color: black; width: 15px; height: 15px; border-radius: 50%;"></div>
                        иконки с языками
                    </div>
                    <div class="flex-row gap-sm font-size-md font-bold font-color-secondary align-items-center">
                        <div class="font-color-black">{{user.userprofile.primary_specialization}}</div>
                        <div class="font-size-sm">from</div>
                        <div>{{user.userprofile.city}}, {{user.userprofile.country}}</div>
                    </div>
                    <div class="user-description font-size-sm font-color-secondary">
                        {{user.userprofile.description|truncatechars:150}}
                    </div>
                </div>
            </div>
            <div class="flex-row gap-md">
                <div style="background-color: black; width: 15px; height: 15px; border-radius: 50%;"></div>
                <div>Кнопки действий, создать резюме и тд</div>
            </div>
        </div>
    </div>
    <div class="window-border">
        <div class="flex-column gap-md">
            <div class="flex-row gap-xxl">
                <div class="font-size-xl font-bold">Technologies</div>
                <div>Типы отображения</div>
            </div>
            <div>
                {% for language in user.userprofile.languages.all %}
                    {{language}} {{language.get_level_display}}
                {% endfor %}
            </div>
            <div>
                {% for technology in user.userprofile.skills.all %}
                    {{technology}}
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="window-border">
        <div class="flex-column gap-md">
            <div>
                <div>Какая то дополнительная аналитика по самом пользователю в отношение рынка</div>
                <div>Настройки отображения</div>
            </div>
        </div>
    </div>

{% endblock content %}